.main{
    background-color: #1d3557
}
.body{
    background-color: #1d3557
}
.calculadoraTitle{
    position: relative;
    text-align: center;
    padding: 5px;
    color: white;
}
.div1 {
    position: relative;
    left: 50px;
    width: calc(100% - 100px);
    border: 1px solid white;
    background-color:#1d3557;
    padding: 5px;
    text-align: center;
}


.casillaNumero {
    color: white;
}

